In [1]:
# Basic Preprocessing tools
import numpy as np
import pandas as pd

In [2]:
to_keep=np.array(['PM10', 'PM2.5', 'SO2', 'NO2', 'NH3', 'CO', 'Ozone', 'from date', 'station'])

In [ ]:
df=pd.read_csv(file_path)   # reading the datafile

In [ ]:
#filtering unnecessary columns

rem=[ele for ele in df.columns if ele not in to_keep]
df=df.drop(rem, axis=1)

In [ ]:
for c in AQI:
    print(df[c].isna().sum())

In [ ]:
df[:31].info()        # to see values of january

In [ ]:
df[31:60].info()      # to see values of february

In [ ]:
df[60:91].info()      # to see values of March

In [ ]:
df[91:121].info()     # to see values of April

In [ ]:
df[121:152].info()    # to see values of May

In [20]:
df[31:60].info()      # to see values of June

In [39]:
AQI=np.delete(to_keep, [7, 8])
AQI

array(['PM10', 'PM2.5', 'SO2', 'NO2', 'NH3', 'CO', 'Ozone'], dtype='<U9')

when single column is to be cured

In [ ]:
t=df[start:end]['attribute'].mean()
df[start:end]['attribute'].fillna(t, inplace=True)

when values are missing across multiple columns in same rows or nearby rows

In [ ]:
for c in A:
    temp=df[start:end][c].mean()
    df[123:153][c].fillna(temp, inplace=True)

To check just in case if there is any NaN value left

In [ ]:
for c in col:
    print(df[c].isna().sum())

Save the dataframe to the CSV file

In [ ]:
df.to_csv(csv file path)

# AN EXAMPLE IS SHOWN HERE

In [3]:
# reading datafiles
ben=pd.read_csv('F:/air quality index project data/cpcb-datasets/bengaluru/Bengaluru - KSPCB.csv')
hyd=pd.read_csv('F:/air quality index project data/cpcb-datasets/hyderabad/Hyderabad - TSPCB.csv')

In [4]:
#filtering unnecessary columns

rem=[ele for ele in ben.columns if ele not in to_keep]
ben=ben.drop(rem, axis=1)

rem=[ele for ele in hyd.columns if ele not in to_keep]
hyd=hyd.drop(rem, axis=1)

In [27]:
ben.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 8 columns):
from date    183 non-null object
NO2          183 non-null float64
NH3          183 non-null float64
CO           183 non-null float64
Ozone        183 non-null float64
PM2.5        183 non-null float64
PM10         183 non-null float64
station      183 non-null object
dtypes: float64(6), object(2)
memory usage: 11.6+ KB

In [28]:
hyd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 9 columns):
from date    183 non-null object
CO           183 non-null float64
Ozone        183 non-null float64
NO2          183 non-null float64
NH3          183 non-null float64
SO2          183 non-null float64
PM2.5        183 non-null float64
PM10         183 non-null float64
station      183 non-null object
dtypes: float64(7), object(2)
memory usage: 13.0+ KB

If there are no NaN(null) values present, then no need to check monthly data.

i.e. next 6n cells, wher n is number of dataframes

In [6]:
ben[:31].info()        # to see values of january

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 8 columns):
from date    31 non-null object
NO2          31 non-null float64
NH3          31 non-null float64
CO           31 non-null float64
Ozone        31 non-null float64
PM2.5        31 non-null float64
PM10         31 non-null float64
station      31 non-null object
dtypes: float64(6), object(2)
memory usage: 2.1+ KB

In [8]:
ben[31:60].info()      # to see values of february

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 31 to 59
Data columns (total 8 columns):
from date    29 non-null object
NO2          29 non-null float64
NH3          29 non-null float64
CO           29 non-null float64
Ozone        29 non-null float64
PM2.5        29 non-null float64
PM10         29 non-null float64
station      29 non-null object
dtypes: float64(6), object(2)
memory usage: 1.9+ KB

In [9]:
ben[60:91].info()      # to see values of March

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 60 to 90
Data columns (total 8 columns):
from date    31 non-null object
NO2          31 non-null float64
NH3          31 non-null float64
CO           31 non-null float64
Ozone        31 non-null float64
PM2.5        31 non-null float64
PM10         31 non-null float64
station      31 non-null object
dtypes: float64(6), object(2)
memory usage: 2.1+ KB

In [10]:
ben[91:121].info()     # to see values of April

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 91 to 120
Data columns (total 8 columns):
from date    30 non-null object
NO2          30 non-null float64
NH3          30 non-null float64
CO           30 non-null float64
Ozone        30 non-null float64
PM2.5        30 non-null float64
PM10         30 non-null float64
station      30 non-null object
dtypes: float64(6), object(2)
memory usage: 2.0+ KB

In [11]:
ben[121:152].info()    # to see values of May

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 121 to 151
Data columns (total 8 columns):
from date    31 non-null object
NO2          31 non-null float64
NH3          31 non-null float64
CO           31 non-null float64
Ozone        31 non-null float64
PM2.5        31 non-null float64
PM10         31 non-null float64
station      31 non-null object
dtypes: float64(6), object(2)
memory usage: 2.1+ KB

In [12]:
ben[152:].info()    # to see values of June

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 152 to 182
Data columns (total 8 columns):
from date    31 non-null object
NO2          31 non-null float64
NH3          31 non-null float64
CO           31 non-null float64
Ozone        31 non-null float64
PM2.5        31 non-null float64
PM10         31 non-null float64
station      31 non-null object
dtypes: float64(6), object(2)
memory usage: 2.1+ KB

In [13]:
hyd[:31].info()        # to see values of january

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 9 columns):
from date    31 non-null object
CO           31 non-null float64
Ozone        31 non-null float64
NO2          31 non-null float64
NH3          31 non-null float64
SO2          31 non-null float64
PM2.5        31 non-null float64
PM10         31 non-null float64
station      31 non-null object
dtypes: float64(7), object(2)
memory usage: 2.3+ KB

In [14]:
hyd[31:60].info()      # to see values of february

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 31 to 59
Data columns (total 9 columns):
from date    29 non-null object
CO           29 non-null float64
Ozone        29 non-null float64
NO2          29 non-null float64
NH3          29 non-null float64
SO2          29 non-null float64
PM2.5        29 non-null float64
PM10         29 non-null float64
station      29 non-null object
dtypes: float64(7), object(2)
memory usage: 2.2+ KB

In [15]:
hyd[60:91].info()      # to see values of March

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 60 to 90
Data columns (total 9 columns):
from date    31 non-null object
CO           31 non-null float64
Ozone        31 non-null float64
NO2          31 non-null float64
NH3          31 non-null float64
SO2          31 non-null float64
PM2.5        31 non-null float64
PM10         31 non-null float64
station      31 non-null object
dtypes: float64(7), object(2)
memory usage: 2.3+ KB

In [16]:
hyd[91:121].info()     # to see values of April

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 91 to 120
Data columns (total 9 columns):
from date    30 non-null object
CO           30 non-null float64
Ozone        30 non-null float64
NO2          30 non-null float64
NH3          30 non-null float64
SO2          30 non-null float64
PM2.5        30 non-null float64
PM10         30 non-null float64
station      30 non-null object
dtypes: float64(7), object(2)
memory usage: 2.2+ KB

In [17]:
hyd[121:152].info()    # to see values of May

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 121 to 151
Data columns (total 9 columns):
from date    31 non-null object
CO           31 non-null float64
Ozone        31 non-null float64
NO2          31 non-null float64
NH3          31 non-null float64
SO2          31 non-null float64
PM2.5        31 non-null float64
PM10         31 non-null float64
station      31 non-null object
dtypes: float64(7), object(2)
memory usage: 2.3+ KB

In [18]:
hyd[152:].info()       # to see values of June

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 152 to 182
Data columns (total 9 columns):
from date    31 non-null object
CO           31 non-null float64
Ozone        31 non-null float64
NO2          31 non-null float64
NH3          31 non-null float64
SO2          31 non-null float64
PM2.5        31 non-null float64
PM10         31 non-null float64
station      31 non-null object
dtypes: float64(7), object(2)
memory usage: 2.3+ KB

In [29]:
AQI=np.delete(to_keep, [7, 8])
AQI

array(['PM10', 'PM2.5', 'SO2', 'NO2', 'NH3', 'CO', 'Ozone'], dtype='<U9')

Since, there are no null values. The dataframe is directly copied to csv file.

In [30]:
ben.to_csv('F:/air quality index project data/cpcb-datasets/bengaluru/Bengaluru - KSPCB.csv')
hyd.to_csv('F:/air quality index project data/cpcb-datasets/hyderabad/Hyderabad - TSPCB.csv')